/* Gonzalo Garcia Castro UO294665*/
/* Estilos de posicionamiento del proyecto MotoGP-Desktop*/ 

/*Especificidad (0,0,1)*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em 0.5em;
}

/*Especificidad (0,0,1)*/
body, main{
    width: auto;
    margin: 0%;
}

/*Especificidad (0,0,1)*/
nav{
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/*Especificidad (0,0,2)*/
nav > a{
    flex: 0 1 auto;
    text-align: center;
    justify-content: center;
}

/* Especificidad (0,1,0)*/
.active{
    padding: 0.3em 0.6em;
    border-radius: 6px;
}

/*Especificidad (0,0,2)*/
main > section, aside{
    margin: 1em;
    padding: 1em;
}

/*Especificidad (0,0,1)*/
h2, h3{
    margin-top: 0;
}

/*Especificidad (0,0,1)*/
ul, ol {
    margin: 1em 2em;
    padding: 0;
}

/*Especificidad (0,0,2)*/
ul li, ol li {
    margin: 0.4em 0;
}

/*Especificidad (0,0,1)*/
dl{
    padding: 1em;
}

/*Especificidad (0,0,1)*/
dd{
    margin-left: 1em;
    margin-bottom: 0.8em;
}

/*Especificidad (0,0,1)*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5em 0;
}

/*Especificidad (0,0,1)*/
caption {
    margin-bottom: 0.5em;
    text-align: left;
}

/*Especificidad (0,0,1)*/
th, td {
    padding: 0.6em;
    text-align: left;
}

body > main > div {
    width: 45em;
    height: 30em;
}


@media (min-width: 320px) and (max-width: 799px){
    header{
        flex-direction: column;
    }
    
    nav{
        flex-direction: column;
        margin: 0;
    }

    header + p{
        display: none;
    }

    Video { width:100%; height:auto; } 
    
    audio {
        width: 100%;
    }

    picture img, article img {
        width: 100%;
        margin: 0;
    }

    section h2 {
        text-align: center;
    }
}